h1{
    font-family:Comic Sans Ms;




}
a{
    color: blue;
}

body {
  background-image: url("../background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Comic Sans Ms;
  padding: 20px, 30px;
}

.bio {
    font-size: 20px;
    text-align: justify;
}

.cite {
    color: gray
}

.explore {
    text-align: center;
    font-size: 50px;
    color: white;
    margin: auto;
}
.rainbowtext {
    background-image: linear-gradient(red, orange, yellow, green, blue, indigo, violet);
}

.nav {
    opacity: 0.5;
  }
  
  .nav:hover {
    opacity: 1.0;
  }
  
  .navbtn {
    /*background-image: linear-gradient(red, orange, yellow, green, blue, indigo, violet);*/
    background-color: red;
    border-radius: 20px;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-weight: 600;
    color: white;
    margin: 20px 50px;
    min-width: 150px;
  }
  
  .navimg {
    border-radius: 20px;
    width: 384px;
    height: 216px;
  }
  
  .navimg:hover {
    box-shadow: 0 8px 15px 0 rgba(0,0,0,0.3), 0 5px 21px 0 rgba(0,0,0,0.18);
   }
  

*,
*:before,
*:after {
  box-sizing: inherit;
  max-width: 100%;
}
header,
nav,
aside,
article,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
div {
  width: 100%;
  word-wrap: break-word;
}
header,
nav,
main,
article,
section,
footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  position: relative;
}

header {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }
  main,
  section,
  aside + article {
    -webkit-box-flex: 1;
    -webkit-flex: 1 8.3333%;
        -ms-flex: 1 8.3333%;
            flex: 1 8.3333%;
    min-width: 8.3333%;
  }
  aside {
    -webkit-flex-basis: 20%;
        -ms-flex-preferred-size: 20%;
            flex-basis: 20%;
  }
    footer {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }
nav[am-layout][am-layout~="horizontal"] a {
    -webkit-box-flex: 1;
    -webkit-flex: 1 8.3333%;
        -ms-flex: 1 8.3333%;
            flex: 1 8.3333%;
  }
